.logo {
    padding-left: 15px;
}

.btn-inicio {
    color: #FFFFFF;
    text-decoration: none;
}

.btn-custom {
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #ff5733;
    /* Cambia el color de fondo al pasar el mouse */
}

/* Estilo del footer */
footer {
    background-color: #141414; /* Rojo leve */
    color: #FFFFFF; /* Texto blanco */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0; /* Agrega espacio alrededor del contenido del footer */
}

/* Estilo del contenido del footer */
.footer-content {
    padding: 10px;
}

/* Estilo del logo en el footer */
.footer-logo h2 {
    font-size: 18px; /* Aumentar el tamaño del título */
    font-weight: bold; /* Fuente negrita */
    margin: 0;
}

/* Estilo de los enlaces en el footer */
.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links a {
    text-decoration: none;
    color: #FFFFFF; /* Texto blanco */
    font-weight: bold; /* Fuente negrita */
    font-size: 14px; /* Aumentar el tamaño de las letras de los enlaces */
}

/* Estilo de la información de contacto en el footer */
.footer-contact p {
    margin: 0;
    margin-bottom: 5px; /* Reducir el espacio entre párrafos */
    font-weight: bold; /* Fuente negrita */
    font-size: 14px; /* Aumentar el tamaño de las letras */
}

/* Estilo del texto en el footer */
.footer-bottom p {
    font-size: 12px; /* Tamaño del texto de derechos reservados */
}


#imagen_previa {
    max-width: 100px;
    max-height: 150px;
}

/* Estilos para el mensaje de bienvenida */
.welcome-text {
    float: left;
    color: #928DAB;
    margin-top: 8px;
}

.formulario-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #efe8e8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #1F1C2C;
    background: -webkit-linear-gradient(to right, #afacb6, #b30b0b);
    background: linear-gradient(to right, #b1afb8, #f1160b);
    margin-bottom: 70px;
    margin-top: 70px;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    text-align: center;
}
td img {
    max-width: 100%; /* Cambiado a 100% para que las imágenes se ajusten al tamaño de su contenedor */
    display: block;
    margin: 0 auto;
}

.imagen {
    cursor: pointer;
}

.imagen-grande {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    z-index: 9999;
}

.imagen-grande.mostrar {
    display: block;
}